.search-field {
  &--icon {
    position: absolute;
    top: 10px;
    left: 10px;
    fill: $color-neutral-grey;
  }

  &--text {
    border-radius: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 42px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    border: none;
    background: #f1f2f5;
    border: 1px solid #dedede;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }

  &--icon-cancel {
    position: absolute;
    top: 10px;
    right: 12px;
    fill: $color-neutral-grey;
  }
}
