.journal-preview-item {
  &--head {
    margin-bottom: 16px;

    .mood-title {
      margin-left: 12px;
      flex-grow: 1;
      margin-right: 24px;
      text-transform: capitalize;
    }

    .time-created {
      margin-right: auto;
    }
  }

  &--label {
    margin-bottom: 16px;
  }

  &--content {
    border-radius: 8px;
    background: #f2f6ff;
    padding: 16px;

    .journal-title {
      margin-bottom: 12px;
    }
  }
}
