// app global css in SCSS form

/* #region  [IMPORT FONT FACE] */
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/Poppins-Bold.woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("./fonts/Poppins-SemiBold.woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/NunitoSans-Bold.woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-style: italic;
  src: url("./fonts/NunitoSans-BoldItalic.woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 800;
  font-style: italic;
  src: url("./fonts/NunitoSans-ExtraBoldItalic.woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/NunitoSans-Regular.woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-style: italic;
  src: url("./fonts/NunitoSans-SemiBoldItalic.woff");
}
/* #endregion */

/* #region  [GENERAL STYLES] */
html,
body {
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  border: none;
  width: fit-content;
}

svg {
  pointer-events: none;
  outline: none !important;
}

button[disabled] {
  opacity: 1 !important;
}

button:focus {
  outline: none !important;
}
/* #endregion */

/* #region  [TYPOGRAPHY] */
.text__primary {
  color: $color-primary;
}

.text__secondary {
  color: $color-secondary;
}

.text__accent {
  color: $color-accent;
}

.text__alert {
  color: $color-alert;
}

.text__alert-secondary {
  color: $color-alert-secondary;
}

.text__neutral {
  color: $color-neutral-mid-grey;
}

.text__neutral-grey {
  color: $color-neutral-grey;
}

.text__neutral-dark-grey {
  color: $color-neutral-dark-grey;
}

.text__neutral-black {
  color: #303030;
}

.text__large-title {
  font-size: 32px;
  line-height: 48px;
  font-family: Poppins;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -0.02em;
}

.text__title-1 {
  font-size: 28px;
  line-height: 42px;
  font-family: Poppins;
  font-weight: bold;
  letter-spacing: -0.02em;
}

.text__title-2 {
  font-size: 24px;
  line-height: 36px;
  font-family: Poppins;
  font-weight: bold;
  letter-spacing: -0.02em;
}

.text__title-3 {
  font-size: 20px;
  line-height: 30px;
  font-family: Poppins;
  font-weight: bold;
}

.text__title-4 {
  font-size: 16px;
  line-height: 24px;
  font-family: Poppins;
  font-weight: bold;
}

.text__title-5 {
  font-size: 12px;
  line-height: 18px;
  font-family: Poppins;
  font-weight: 600;
  letter-spacing: 0.01em;
}

.text__title-6 {
  font-size: 8px;
  line-height: 12px;
  font-family: Poppins;
  font-weight: 600;
  letter-spacing: 0.01em;
}

.text__headline,
.text__text-field {
  font-size: 16px;
  line-height: 24px;
  font-family: Nunito Sans;
  font-weight: bold;
}

.text__body {
  font-size: 16px;
  line-height: 24px;
  font-family: Nunito Sans;
  font-weight: normal;
  letter-spacing: 0.02em;
}

.text__extra-special-body {
  font-size: 16px;
  line-height: 24px;
  font-family: Nunito Sans;
  font-weight: 800;
  font-style: italic;
}

.text__special-body {
  font-size: 16px;
  line-height: 24px;
  font-family: Nunito Sans;
  font-weight: bold;
  font-style: italic;
}

.text__italic-body {
  font-size: 16px;
  line-height: 24px;
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.01em;
}

.text__footnote {
  font-size: 12px;
  line-height: 18px;
  font-family: Nunito Sans;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.02em;
}

.text__foot-button {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region  [UTILITIES] */
.fill-primary {
  fill: $color-primary;
}

.fill-neutral {
  fill: $color-neutral-mid-grey;
}

.fill-white {
  fill: #fff;
}

.btn__large {
  border-radius: 6px;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 24px;
  font-family: Poppins;
  font-weight: 600;
}

.btn__medium {
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 24px;
  font-family: Poppins;
  font-weight: 600;
}

.btn__small {
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 18px;
  font-family: Poppins;
  font-weight: 600;
}

.btn__primary {
  background-color: $color-primary;
}

.btn__secondary {
  color: #5c7ccd;
  border: 0.5px solid #5c7ccd;
  box-sizing: border-box;
  background-color: $color-secondary;
}

.btn__alert {
  background-color: $color-alert;
}

.btn__accent {
  background-color: $color-accent;
}

.btn__borderless {
  background-color: transparent;
  border: none;
}

.btn__alert-secondary {
  border: 0.5px solid #af3a3a;
  box-sizing: border-box;
  color: #af3a3a;
  background-color: $color-alert-secondary;
}

.btn__disabled {
  background-color: $color-neutral-grey;
  color: #a3a5a7;
}

.placeholder-illustration {
  display: grid;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: $color-neutral-white;
  place-items: center;
}

.space-8 {
  content: "";
  width: 8px;
}
/* #endregion */

/* #region  [COMPONENTS] */
.home-container {
  box-sizing: border-box;
  padding: 0 16px;
}

.home-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 32px;
}

.home-card {
  justify-content: space-between;
  display: flex;
  border-radius: 12px;
  padding: 16px;
  background-color: $color-primary;

  &--text {
    flex-direction: column;
    justify-content: space-between;
    display: flex;

    p {
      display: -webkit-box;
      height: 72px;
      min-width: 120px;
      max-width: 168px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  &--img {
    width: 112px;
  }
}

.label {
  align-items: center;
  margin: 0px 8px;
  border-radius: 4px;
  padding: 4px 8px;
  background: #f2f6ff;
  font-size: 12px;
  line-height: 18px;
  font-family: Nunito Sans;
  color: #5c7ccd;
  letter-spacing: 0.02em;
}

/* #endregion */

/* #region  [INPUT] */
.input-field {
  width: 100%;
  padding: 8px 12px;

  color: #303030;
  background-color: #f1f2f5;
  border: 1px solid #dedede;
  border-radius: 6px;

  /* Chrome, Firefox, Opera, Safari 10.1+ */
  &::placeholder {
    color: #c4c4c8;
    opacity: 1; /* Firefox */
  }

  /* Internet Explorer 10-11 */
  &:-ms-input-placeholder {
    color: #c4c4c8;
  }

  /* Microsoft Edge */
  &::-ms-input-placeholder {
    color: #c4c4c8;
  }
}
/* #endregion */

.info-content {
  font-size: 16px;
}

.divider {
  content: "";
  width: 100%;
  height: 2px;

  display: block;

  background: #f1f2f5;
  border-radius: 2px;
}

.container-scroll {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 40px;
}

.item-disabled {
  filter: grayscale(80%);
}

.img-body {
  width: 100%;
  border-radius: 4px;
}

// layout and component styles
@import "./layout.scss";
@import "./formd.scss";
