// app global css in SCSS form

/* #region  [IMPORT FONT FACE] */
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-BoldItalic.woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-ExtraBoldItalic.woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-SemiBoldItalic.woff");
  font-weight: 600;
  font-style: italic;
}
/* #endregion */

/* #region  [GENERAL STYLES] */
html,
body {
  font-family: "Nunito Sans", sans-serif;
}

button {
  border: none;
  width: fit-content;
}

svg {
  outline: none !important;
}

button[disabled] {
  opacity: 1 !important;
}
/* #endregion */

/* #region  [TYPOGRAPHY] */
.text__primary {
  color: $color-primary;
}

.text__secondary {
  color: $color-secondary;
}

.text__accent {
  color: $color-accent;
}

.text__alert {
  color: $color-alert;
}

.text__alert-secondary {
  color: $color-alert-secondary;
}

.text__neutral {
  color: $color-neutral-mid-grey;
}

.text__neutral-dark-grey {
  color: $color-neutral-dark-grey;
}

.text__large-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.02em;
}

.text__title-1 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.02em;
}

.text__title-2 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02em;
}

.text__title-3 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.text__title-4 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.text__title-5 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
}

.text__headline,
.text__text-field {
  font-family: Nunito Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.text__body {
  font-family: Nunito Sans;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.text__extra-special-body {
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
}

.text__special-body {
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.text__italic-body {
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.text__footnote {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region  [UTILITIES] */
.fill-primary {
  fill: $color-primary;
}

.fill-neutral {
  fill: $color-neutral-mid-grey;
}

.fill-white {
  fill: #fff;
}

.btn__large {
  padding: 12px 16px;
  border-radius: 6px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.btn__medium {
  padding: 8px 12px;
  border-radius: 6px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.btn__small {
  padding: 4px 8px;
  border-radius: 4px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.btn__primary {
  background-color: $color-primary;
}

.btn__secondary {
  background-color: $color-secondary;
  border: 0.5px solid #5c7ccd;
  box-sizing: border-box;
}

.btn__alert {
  background-color: $color-alert;
}

.btn__accent {
  background-color: $color-accent;
}

.btn__alert-secondary {
  background-color: $color-alert-secondary;
  border: 0.5px solid #af3a3a;
  color: #af3a3a;
  box-sizing: border-box;
}

.btn__disabled {
  background-color: $color-neutral-grey;
}

.placeholder-illustration {
  background-color: $color-neutral-black;
  border-radius: 8px;
  box-sizing: border-box;
}

.space-8 {
  content: "";
  width: 8px;
}
/* #endregion */

/* #region  [COMPONENTS] */
.home-container {
  padding: 0 16px;
  box-sizing: border-box;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 32px;
}

.home-card {
  padding: 16px;
  background-color: $color-primary;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;

  &--text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      min-width: 120px;
      max-width: 168px;
      height: 72px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  &--img {
    width: 112px;
  }
}

.label {
  align-items: center;
  padding: 4px 8px;
  background: #f2f6ff;
  border-radius: 4px;
  font-family: Nunito Sans;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #5c7ccd;
  margin: 0px 8px;
}

/* #endregion */
